
@import url("//fonts.googleapis.com/css?family=Josefin+Sans:bold,light,regular");

html, body {
  background-color: #323135;
  color: white;
  font-family: 'josefin sans';
  font-weight: 300;
  height: 100%;
  width: 100%;
}

p {
  color: #323135;
  font-size: 1.5vw;
}

.smallhead {
  color: #323135;
  font-size: 2vw;
  text-decoration: none;
}

.smalltext {
  color:#323135;
  font-size: 1.5vw;
}

.exturl {
  color: #BA8F95;
  font-size: .8rem;
}

.namediv {
  height: 100vh;
  font-size: 4vw;
  letter-spacing: .05rem;
}

/* #flowericon {
  height: 3.5rem;
} */

.flexbox {
  display: flex;
  align-items: center;
}

.linkarea {
  display: flex;
  width: 50%;
}

/* .projecttitle {
  text-align: center;
  width: 50%;
  height: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
} */

/*PROJECTS.JS*/

/* .projectsgrid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
} */

/*thumbnails*/
.flexbox {
  display: flex;
  position: relative;
  padding: 0% 4% 20%;
  flex-wrap: wrap;
}
.linkcontainer {
  display: flex;
  position: relative;
  width: 25.3333%;
  margin: 4% 4%;
  color: #323135;
}
  .thumbs {
    width: 100%;
    overflow: hidden;
  }
    .hoveredthumbs {
      opacity: .3;
      transition-duration: .7s;
    }
.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
  .hoveredtitles {
    opacity: 1;
    transition-duration: .7s;
  }
  /* .titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: #fffbe6;
    font-size: 35px;
    letter-spacing: 5px;
    opacity: 0;
  }
    .hoveredtitles {
      opacity: 1;
      transition-duration: .7s;
    } */


.buttons {
  width: 8%;
  height: 3vw;
  background: none;
  border: none;
  font-family: 'Montserrat';
  color: #897C80;
  outline: none;
  font-size: 1.75vw;
  cursor: pointer;
  transition-duration: .7s;
}
.buttons:hover {
  color: #A2868B;
}
.clickedbuttons {
  text-decoration: underline;
  color: #BA8F95;
}

.abtbutton:hover {
    color: #A2868B !important;
    transition-duration: .7s !important;
}
.contactbuttons {
  color: thistle;
  font-size: 1.5vw;
  font-family: 'montserrat';
  transition-duration: .7s;
}
.contactbuttons:hover {
  color: #A2868B;
}

.socials {
  display: flex;
  width: 7vw;
  border-radius: 50%;
  margin: 1.5%;
}

.socials:hover {
  background-color: white;
  transition: .6s;
  cursor: pointer;
}
.socials:active {
  background-color: #CDD8B6;
  transition: .3s;
}