@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

html, body {
  background-color: #323135;
  color: white;
  font-family: 'work sans';
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.exturl {
  color: #BA8F95;
  font-size: .8rem;
}

/*thumbnails*/
    .thumbflexbox {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      color: black;
      margin-left: 2.5vw;
    }
    .sectiontitles {
      display: flex;
      align-items: center;
      font-size: 1.75vw;
      padding: 9.5vw 4vw 0;
      color: #323135;
    }
    .linkcontainer {
      display: flex;
      position: relative;
      width: 25.3333%;
      margin: 3.5vw 3.5vw 0;
      color: #323135;
    }
      .thumbs {
        width: 100%;
        overflow: hidden;
      }
        .hoveredthumbs {
          opacity: .3;
          transition-duration: .7s;
        }
    .titles {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      text-align: center;
      opacity: 0;
    }
      .hoveredtitles {
        opacity: 1;
        transition-duration: .7s;
      }




.hoveropacity:hover {
  opacity: 50%;
  transition-duration: .7s;
}

/* PREVNEXT */
.button {
  color: black;
  display: flex;
  align-items: center;
  border: .2vw solid #C9D7A0;
  border-radius: 3vw;
}
.button:hover {
  background-color: #C9D7A0;
  transition-duration: .7s;
}

/* SOCIALS */
.socials {
  display: flex;
  width: 4vw;
  border-radius: 50%;
  margin: 1vw;
}
.socials:hover {
  background-color: #F3D3E8;
  transition: .6s;
  cursor: pointer;
}

hr {
  border-top: .3vw dashed #D2A5CD;
  margin: 2% 6%
}

.abtpgtitle {
  font-size: 1.5vw;
  margin-top: 4%;
  color: #BB89BD;
  font-weight: bold;
}

.abtpgcontent {
  font-size: 1.5vw;
  color:black;
}

.abtpgyear {
  font-size: 1.25vw;
  margin-top: 2%;
  color: #BB89BD;

}

.opacityon {
  opacity: 100%;
  transition: .6s;
  cursor: pointer;
}

.opacityoff {
  opacity: 0;
  transition: .6s;
  cursor: pointer;
}

.header {
  font-size: 1.5vw;
  color: #BB89BD;
  font-weight: bold;
}